# Direct Ubuntu Xavier tunnels; soysan is excluded.

Host exp6-*
    HostName 127.0.0.1
    User usr
    IdentityFile ~/.ssh/id_ed25519_soysan_anvil
    IdentitiesOnly yes
    BatchMode yes
    StrictHostKeyChecking yes
    ConnectTimeout 10
    ServerAliveInterval 30
    ServerAliveCountMax 3

Host exp6-ubuntu
    Port 2226
    HostKeyAlias 100.82.57.52

Host exp6-ubuntu-1
    Port 2227
    HostKeyAlias 100.64.106.106

Host exp6-ubuntu-2
    Port 2232
    HostKeyAlias 100.109.4.102

Host exp6-ubuntu-3
    Port 2233
    HostKeyAlias 100.104.61.80

Host exp6-ubuntu-4
    Port 2234
    HostKeyAlias 100.94.42.80

Host exp6-ubuntu-5
    Port 2235
    HostKeyAlias 100.97.80.117

Host exp6-ubuntu-6
    Port 2236
    HostKeyAlias 100.75.14.54

Host exp6-ubuntu-7
    Port 2237
    HostKeyAlias 100.122.195.115
